/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

@font-face {
  font-family: "Manrope";
  src: url(./font/Manrope-VariableFont_wght.ttf) format(truetype);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

/* html {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

/* body section */
body {
  width: 100%;
  overflow-x: hidden;
}

/* html::-webkit-scrollbar {
  display: none;
} */

main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.active {
  font-weight: 700;
  color: #004039;
}

.payment-header h3 a.active {
  color: #FFF;
}

.scrolled.payment-header h3 a.active {
  color: #004039;
}

/* for mobile nav  */
.mobile-nav,
.mobile-click-open {
  display: none;
}

.payment-header button.mobile-click-open img,
.book-header button.mobile-click-open img {
  filter: brightness(100%) saturate(100%) invert(100%);
}

.payment-header.scrolled button.mobile-click-open img,
.book-header.scrolled button.mobile-click-open img {
  filter: brightness(0) saturate(0) invert(0);
}

.payment-header h3,
.book-header h3,
.payment-header h2,
.book-header h2 {
  color: #F2FFFE;
}

.payment-header.scrolled h3,
.book-header.scrolled h3,
.payment-header.scrolled h2,
.book-header.scrolled h2 {
  color: #000;
}

@media only screen and (max-width: 800px) {

  body {
    overflow-x: hidden;
  }

  /* section.banner-section,
    div.mailing,
    div.testimonials,
    div.services {
        display: none;
    } */

  header nav.nav {
    display: none;
  }

  /* header .logo {
        font-size: 20px;
    } */

  .mobile-nav.active,
  .mobile-click-open {
    display: block;
  }

  .mobile-click-open {
    width: 30px;
    height: 20px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .mobile-click-open img {
    width: 100%;
    height: 100%;
  }

  .mobile-click-close {
    position: absolute;
    top: 35px;
    right: 25px;
    background: transparent;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .mobile-click-close img {
    width: 100%;
    height: 100%;
  }

  .mobile-click-close:hover {
    animation: roll 1s 30 linear;
  }

  @keyframes roll {
    0% {
      rotate: 0deg;
    }

    100% {
      rotate: 360deg;
    }
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    background: #F2FFFE;
    box-shadow: 0 0 1000px rgba(0, 0, 0, 1);
  }

  .mobile-nav button.mobile-book-now {
    width: 80%;
    height: 55px;
    font-size: 1.15rem;
    font-weight: 700;
    color: #DCFFFC;
    background: #2A9D90;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 50px;
    position: absolute;
    bottom: 15%;
  }

  .mobile-nav button.mobile-book-now:hover {
    background: hsl(173, 56%, 49%);
  }

  .mobile-nav ul {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 20%;
    margin-left: 10%;
  }

  .mobile-nav ul li {
    list-style: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: hsla(0, 0%, 0%, 0.7);
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    width: 70%;
    cursor: pointer;
  }

  .mobile-nav ul li:hover {
    color: #2A9D90;
  }
}

@media only screen and (max-width:500px) {

  .logo img {
    width: 30px;
  }
}

/* header section */



header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  transition: 0.3s ease-in-out;
  background: transparent;
  z-index: 1000;
}

.header {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* color: white; */
}

header.scrolled {
  background: #F2FFFE;
  opacity: .99;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.logo {
  font-size: 28px;
  font-weight: 900;
  color: #004039;
  /* color: white; */
  cursor: pointer;
}

.logo img {
  display: inline;
  width: 40px;
  margin-bottom: 5px;
  /* margin-right: 15px; */
}

nav.nav h3 {
  font-size: 1.15rem;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

nav.nav h3:hover {
  color: #2A9D90;
}

nav.nav button,
button.book-now {
  width: 175px;
  height: 55px;
  font-size: 1.15rem;
  font-weight: 700;
  color: #DCFFFC;
  background: #2A9D90;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

nav.nav button:hover,
button.book-now:hover {
  background: #004039;
  /* background: hsl(173, 56%, 49%); */
}

/* media query */


@media only screen and (max-width:1200px) {
  nav.nav {
    width: 63%;
  }

  nav.nav h3 {
    font-size: 0.9rem;
  }

  .logo {
    font-size: 25px;
  }

  nav.nav button,
  button.book-now {
    width: 150px;
    height: 45px;
    font-size: 0.9rem;
  }
}




/* footer styling  */
footer {
  width: 100%;
  /* height: 80dvh; */
  background: #004039;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 95%;
  height: 90%;
  color: #DCFFFC;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-container span {
  width: 100%;
  height: 1.5px;
  background: #DCFFFC;
  display: block;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  width: 95%;
  margin-left: 2.5%;
}

.footer-logo h1 {
  font-size: 40px;
  font-weight: 600;
  color: #DCFFFC;
}

.footer-logo h1 img {
  display: inline;
  width: 45px;
  margin-bottom: 5px;
}

.footer-logo div {
  border: 1px solid hsla(175, 100%, 93%, 0.9);
  width: 220px;
  height: 55px;
  border-radius: 30px;
  padding-right: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: hsla(175, 100%, 93%, 0.9);
}

.footer-logo div img {
  width: 50px;
  height: 30px;
  margin-left: 5%;
  color: hsla(175, 100%, 93%, 0.7);
}

.footer-logo div h6 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-right: 7%;
}

.footer-nav {
  width: 95%;
  margin: 2% 2.5%;
  display: flex;
  justify-content: space-between;
}

.footer-nav nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.footer-nav nav ul li {
  list-style: none;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 25px;
  cursor: pointer;
}

.footer-nav nav ul li:hover {
  color: #2A9D90;
}

.socials {
  margin-right: 20px;
}

.socials h6 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.socials div {
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.socials div img {
  cursor: pointer;
}

.footer-container aside {
  text-align: center;
  margin-top: 2%;
}

@media only screen and (max-width: 1200px) {
  .footer-logo h1 {
    font-size: 32px;
  }

  .footer-logo div {
    width: 180px;
    height: 45px;
  }

  .footer-logo div img {
    width: 40px;
  }

  .footer-logo div h6 {
    font-size: 0.9rem;
  }

  .footer-nav nav ul li {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  .socials h6 {
    font-size: 0.9rem;
  }

  .socials div {
    width: 130px;
  }

  .socials div img {
    width: 25px;
  }

  .footer-container aside {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 500px) {

  .footer-nav {
    display: block;
    position: relative;
  }

  .footer-nav nav {
    width: 70%;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .socials h6 {
    display: none;
  }

  .socials div {
    position: absolute;
    bottom: -20px;
    right: 10px;
  }

  .footer-logo div h6 {
    font-size: 0.9rem;
  }

  .footer-logo h1 img {
    width: 35px;
  }

  .footer-nav nav ul li {
    font-size: 0.8rem;
  }

  .footer-logo h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .footer-logo div {
    display: none;
  }
}

/* landing page styling */


.banner {
  width: 100%;
  /* height: 125dvh; */
  background: #F2FFFE;
  position: relative;
}

.package-time {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  padding-top: 140px;
  gap: 13%;
}

.package-time-text {
  width: 55%;
}

.package-time-text h1 {
  font-size: 3.7rem;
  font-weight: 900;
  color: #004039;
}

.text-with-img {
  display: flex;
  width: 110%;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
}

.text-with-img div:nth-of-type(2) {
  margin-top: 20px;
}

/* .text-with-img div:nth-of-type(1) img {
  width: 70px;
}

.text-with-img div:nth-of-type(2) img {
  width: 50px;
} */

.text-with-img h4 {
  color: #2A9D90;
  font-size: 1.65rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.text-with-img p {
  color: hsla(173, 100%, 13%, 0.7);
  font-size: 1.1rem;
  font-weight: 600;
}

.package-time-img {
  width: 37%;
  /* height: 85%; */
  height: 420px;
  margin-top: 20px;
  /* min-width: 320px;
  min-height: 320px; */
  overflow: hidden;
  border-radius: 20px;
}

.package-time-img img {
  width: 100%;
  height: 100%;
  /* height: 420px; */
  border-radius: 20px;
}

.package-time-img img:nth-of-type(2) {
  display: none;
}

.green-text {
  color: #2A9D90;
}

.book-now-button button.book-now {
  margin-bottom: 50px;
}

@media only screen and (max-width:1200px) {
  nav.nav {
    width: 63%;
  }

  nav.nav h3 {
    font-size: 0.9rem;
  }

  .logo {
    font-size: 25px;
  }

  nav.nav button,
  button.book-now {
    width: 150px;
    height: 45px;
    font-size: 0.9rem;
  }

  .package-time-text h1 {
    font-size: 2.8rem;
  }

  .text-with-img div:nth-of-type(2) {
    margin-top: 15px;
  }

  .text-with-img div:nth-of-type(1) img {
    width: 55px;
  }

  .text-with-img div:nth-of-type(2) img {
    width: 35px;
  }

  .text-with-img h4 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .text-with-img p {
    font-size: 0.8rem;
  }

  .package-time-img {
    height: 350px;
  }
}



@media only screen and (max-width: 800px) {

  .text-with-img h4 {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .text-with-img p {
    font-size: 0.6rem;
  }

  .text-with-img p br {
    display: none;
  }

  .text-with-img {
    width: 120%;
    /* gap: 5px; */
  }

  .text-with-img div:nth-of-type(2) {
    margin-top: 18px;
  }

  .package-time-text h1 {
    font-size: 1.7rem;
  }

  .package-time-img {
    width: 45%;
    margin-top: 0;
  }

  .package-time-img img:nth-of-type(2) {
    display: block;
  }

  .package-time-img img:nth-of-type(1) {
    display: none;
  }
}

@media only screen and (max-width: 500px) {

  .package-time {
    display: block;
  }

  .package-time-text {
    width: 100%;
  }

  .package-time-text h1 {
    font-size: 1.5rem;
    margin-bottom: 500px;
  }

  .package-time-img {
    position: absolute;
    top: 280px;
    width: 80%;
    left: 10%;
    height: 450px;
  }

  .package-time-img img:nth-of-type(2) {
    display: block;
    border-radius: 5px;
  }

  .package-time-img img:nth-of-type(1) {
    display: none;
  }

  .text-with-img {
    width: 100%;
    justify-content: space-around;
  }

  .text-with-img p br {
    display: inline;
  }

  .text-with-img h4 {
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .text-with-img p {
    font-size: 0.6rem;
    font-weight: 700;
  }

  .text-with-img div:nth-of-type(2) {
    margin-top: 18px;
  }

  .text-with-img div:nth-of-type(1) img {
    margin-top: 10px;
    margin-bottom: -10px;
  }

}

/* swift coverage styling  */
.swift-coverage {
  width: 100%;
  /* height: 70dvh; */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swift-coverage-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}

.swift-coverage-container div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swift-coverage-container div img {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

.swift-coverage-container div h4 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.swift-coverage-container div p {
  font-size: 1rem;
  font-weight: 600;
  color: hsla(0, 0%, 0%, 0.7);
}

@media only screen and (max-width:1200px) {

  .swift-coverage-container {
    height: 350px;
  }

  .swift-coverage-container div h4 {
    font-size: 1.4rem;
  }

  .swift-coverage-container div p {
    font-size: 0.8rem;
  }

  .swift-coverage-container div img {
    width: 35px;
  }
}



@media only screen and (max-width:800px) {
  div.swift-coverage {
    height: 650px;
    padding-bottom: 45%;
  }
}

@media only screen and (max-width:500px) {
  .swift-coverage-container div p span {
    display: none;
  }


  div.swift-coverage {
    height: 500px;
    padding-bottom: 45%;
  }

  div.swift-coverage-container {
    /* height: 5000px; */
    padding-bottom: 40%;
  }

  .swift-coverage-container div h4 {
    font-size: 1.1rem;
  }

  .swift-coverage-container div p {
    font-size: 0.6rem;
    font-weight: 700;
  }

  .swift-coverage-container div img {
    width: 25px;
  }
}

/* swift package styling  */
.swift-package {
  width: 100%;
  /* height: 1000px; */
  background: #DCFFFC;
  position: relative;
  /* padding-top: 18%; */
}

.boxed-package {
  width: 80%;
  height: 300px;
  position: absolute;
  top: -10%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.boxed-package div {
  width: 32%;
  height: 100%;
  max-width: 400px;
  max-height: 350px;
  text-align: center;
  background: #F2FFFE;
  box-shadow: 0 2px 6px -2px #2A9D90;
  border-radius: 15px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxed-package div img {
  margin-top: 12%;
  margin-bottom: 10%;
  width: 60px;
  color: #004039;
  height: auto;
}

.boxed-package div h4 {
  margin-bottom: 5%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #004039;
}

.boxed-package div p {
  font-size: 1.15rem;
  font-weight: 600;
  color: hsla(0, 0%, 0%, 0.7);
}



@media only screen and (max-width: 800px) {
  .boxed-package {
    top: -50%;
    width: 90%;
    margin-left: 5%;
  }

}

@media only screen and (max-width: 500px) {

  .boxed-package {
    top: -40%;
    flex-direction: column;
  }

  div.boxed-package div {
    background: transparent;
    box-shadow: 0 0 transparent;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
  }

  div.boxed-package div img {
    width: 60px;
    padding: 15px;
    background: #F2FFFE;
    border-radius: 10px;
    margin: 0;
    position: absolute;
  }

  div.boxed-package div h4 {
    margin-bottom: 5px;
    width: 70%;
    margin-left: 30%;
    text-align: left;
    font-size: 1rem;
  }

  div.boxed-package div p {
    /* width: 60%; */
    margin-left: 30%;
    text-align: left;
    font-size: 0.7rem;
  }

  .boxed-package div p br {
    display: none;
  }
}

.list-package {
  width: 90%;
  /* height: 1000px; */
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  gap: 10%;
}

.banner-section {
  width: 45%;
  height: 100%;
  margin-top: 25%;
  position: relative;
  display: flex;
}

.banner-section img:nth-of-type(1) {
  position: absolute;
  top: 150px;
  left: 15px;
  width: 280px;
  height: 400px;
  border-radius: 15px;
}

.banner-section img:nth-of-type(2) {
  position: absolute;
  top: 52px;
  left: 218px;
  width: 280px;
  height: 400px;
  border-radius: 15px;
}

.list-section {
  width: 45%;
  height: 100%;
  /* background: #004039; */
  margin-top: 25%;
}

.list-section div h3 {
  font-size: 2.7rem;
  font-weight: 900;
  color: #004039;
  margin-bottom: 5%;
}

.list-section div p {
  font-size: 1.1rem;
  font-weight: 500;
  color: hsla(0, 0%, 0%, 0.7);
  margin-bottom: 5%;
}

.list-section div ul {
  margin-left: 5%;
}

.list-section div ul li {
  font-size: 1.4rem;
  font-weight: 600;
  color: hsla(173, 100%, 13%, 0.9);
  margin-bottom: 3%;
  list-style: none;
  position: relative;
}

.list-section div ul li::before {
  content: "";
  position: absolute;
  top: 30%;
  left: -5%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #004039;
}

.quote-button {
  width: 230px;
  height: 55px;
  font-size: 1.15rem;
  font-weight: 700;
  color: #DCFFFC;
  background: #2A9D90;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-left: -5%;
  margin-top: 5%;
  margin-bottom: 70px;
}

.quote-button:hover {
  background: hsl(173, 56%, 49%);
}

@media only screen and (max-width: 350px) {
  section.banner-section img:nth-of-type(1) {
    top: -150px;
  }

  section.banner-section img:nth-of-type(2) {
    left: 120px;
  }
}

@media only screen and (max-width: 400px) {
  .list-package section.banner-section img:nth-of-type(1) {
    top: -120px;
  }

  .list-package section.banner-section img:nth-of-type(2) {
    top: -200px;
  }
}

@media only screen and (max-width: 500px) {
  .list-package section.list-section div h3 {
    margin-top: -50px;
    font-size: 1.3rem;
  }

  section.banner-section img:nth-of-type(1) {
    top: -150px;
  }

  section.banner-section img:nth-of-type(2) {
    top: -230px;
    /* left: 140px; */
  }
}

@media only screen and (max-width: 800px) {
  .list-package {
    flex-direction: column-reverse;
    width: 100%;
    height: 750px;
  }

  section.list-section {
    width: 90%;
  }

  section.list-section div h3 {
    width: 100%;
    font-size: 1.8rem;
    margin-top: -130px;
  }

  section.list-section div h3 br {
    display: none;
  }

  .list-section div ul li {
    margin-left: 10%;
  }

  .list-section div ul li::before {
    left: -30px;
    width: 20px;
    height: 20px;
  }

  .list-section div p {
    display: none;
  }

  .boxed-package {
    margin-top: 0;
  }

  .banner-section img:nth-of-type(1) {
    top: -250px;
  }

  .banner-section img:nth-of-type(2) {
    top: -330px;
  }
}

@media only screen and (max-width:1200px) {

  .boxed-package {
    height: 250px;
  }

  .boxed-package div h4 {
    font-size: 1.4rem;
  }

  .boxed-package div p {
    font-size: 0.8rem;
  }

  .list-section div h3 {
    font-size: 2.1rem;
  }

  .list-section div p {
    font-size: 0.9rem;
  }

  .list-section div ul li {
    font-size: 1.1rem;
  }

  .list-section div ul li::before {
    width: 12px;
    height: 12px;
  }

  .quote-button {
    width: 180px;
    font-size: 1rem;
  }

  .banner-section img:nth-of-type(1) {
    height: 320px;
  }

  .banner-section img:nth-of-type(2) {
    height: 320px;
    left: 175px;
  }
}

/* swift services styling  */
.swift-services {
  width: 100%;
  /* height: 325dvh; */
}

.services {
  width: 95%;
  margin-left: 5%;
  display: flex;
  margin-top: 100px;
}

.services-text {
  width: 30%;
}

.services-text h4 {
  color: #004039;
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.services-text h2 {
  color: #004039;
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.services-text p {
  color: hsla(0, 0%, 0%, 0.7);
  font-weight: 600;
}

.services-img {
  width: 70%;
  position: relative;
}

.linear-gradient {
  width: 100%;
  height: 100px;
  background: linear-gradient(135deg, #004039, #2A9D90, #DCFFFC, #DCFFFC);
}

.services-img-icons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  top: 25px;
  left: 5%;
}

.services-img-icons div {
  width: 30%;
  height: 245px;
  text-align: center;
  box-shadow: 0 1px 4px -2px #2A9D90;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-img-icons div img {
  width: 120px;
  /* height: 100px; */
  padding: 10px;
  /* border: 1px solid; */
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 15px;
}

.services-img-icons div h4 {
  font-size: 1.3rem;
  color: hsla(0, 0%, 0%, 0.7);
  font-weight: 500;
  line-height: 20px;
  /* margin-bottom: 35px; */
}

@media only screen and (max-width: 800px) {
  .services {
    flex-direction: column;
  }

  .services-text {
    width: 90%;
  }

  .services-text h4,
  .services-text h2 br,
  .linear-gradient {
    display: none;
  }

  div.services-text h2 {
    font-size: 1.3rem;
  }

  .services-img {
    width: 90%;
  }

  .services-img-icons {
    position: relative;
    flex-wrap: wrap;
  }

  .services-img-icons div {
    width: 45%;
    margin-bottom: 30px;
    background: #DCFFFC;
  }
}

.tracking {
  width: 90%;
  margin-left: 5%;
  margin-top: 100px;
}

.tracking h4 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #004039;
  margin-bottom: 15px;
}

.tracking p {
  font-size: 1.1rem;
  font-weight: 600;
  color: hsla(0, 0%, 0%, 0.7);
  margin-bottom: 20px;
}

.tracking div {
  width: 100%;
  max-width: 1500px;
  height: 450px;
  border-radius: 15px;
  overflow: hidden;
  background: #DCFFFC;
  display: flex;
}

.tracking div img {
  width: 49%;
  height: 100%;
  border-radius: 15px;
  float: left;
}

.tracking div img:nth-of-type(2) {
  display: none;
}

.tracking div form {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* float: right; */
}

.tracking div form input {
  width: 70%;
  height: 80px;
  border-radius: 15px;
  outline: none;
  border: none;
  padding-left: 30px;
  padding-right: 140px;
}

.tracking div form input::placeholder {
  font-size: 1.1rem;
  font-weight: 500;
}

.tracking div form img {
  position: absolute;
  right: 110px;
  /* background: #2A9D90; */
  width: 100px;
  height: 50px;
  /* padding: 12px; */
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

/* .tracking div form img:hover {
  background: hsl(173, 56%, 49%);
} */

@media only screen and (max-width: 800px) {
  div.tracking div form img {
    right: 50px;
    width: 60px;
    padding: 0;
  }
}

@media only screen and (max-width: 400px) {
  div.swift-services div.tracking div form img {
    right: 50px;
    top: 50px;
    width: 50px;
    padding: 0;
    display: block;
  }
}

@media only screen and (max-width: 500px) {

  div.tracking div form {
    height: 50%;
    width: 100%;
  }

  div.tracking div form input::placeholder {
    font-size: 0.8rem;
  }

  .swift-services div.tracking div form img {
    right: 50px;
    top: 42px;
    width: 50px;
    padding: 0;
    display: block;
  }

  div.tracking div {
    /* display: block; */
    flex-direction: column;
    height: 400px;
    border-radius: 25px;
  }

  .tracking div img:nth-of-type(1) {
    display: none;
  }

  .tracking div img:nth-of-type(2) {
    display: block;
    width: 100%;
  }
}

.reviews {
  width: 90%;
  margin-top: 100px;
  margin-left: 5%;
}

.reviews h4 {
  font-size: 1.85rem;
  font-weight: 600;
  color: #004039;
  margin-bottom: 20px;
}

.reviews p {
  font-size: 1.2rem;
  color: hsla(0, 0%, 0%, 0.7);
  font-weight: 600;
  margin-bottom: 25px;
}

@media only screen and (max-width: 500px) {
  div.reviews h4 {
    font-size: 1.3rem;
  }

  div.reviews p {
    font-size: 0.7rem;
  }
}

.testimonials {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.testimonials div {
  background: #DCFFFC;
  /* padding: 15px 5px; */
  border-radius: 15px;
  text-align: center;
}

.testimonials div div {
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials div p {
  font-size: 1.1rem;
  margin-bottom: 5px;
  font-weight: 500;
  color: hsla(0, 0%, 0%, 0.7);
}

.testimonials div h6 {
  font-size: 1.15rem;
  font-weight: 700;
  color: #004039;
  margin-bottom: 15px;
}

@media only screen and (max-width: 500px) {
  div.testimonials {
    grid-template-columns: 1fr 1fr;
  }

  div.testimonials div h6 {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  div.testimonials div {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }

  div.testimonials div p {
    font-size: 0.6rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  div.testimonials div p br {
    display: none;
  }


}

.mailing {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.mailing h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #004039;
  margin-bottom: 25px;
}

.mailing form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}

.mailing form input {
  width: 580px;
  height: 75px;
  /* margin-left: 50px; */
  padding-left: 20px;
  padding-right: 150px;
  border-radius: 15px;
  outline: none;
  border: 1.5px solid hsla(0, 0%, 0%, 0.5);
}

.mailing form input::placeholder {
  font-size: 1.15rem;
  font-weight: 600;
  color: hsla(0, 0%, 0%, 0.7);
}

.mailing form img {
  position: absolute;
  right: 30px;
  width: 90px;
  height: 45px;
  /* padding: 8px; */
  background: #2A9D90;
  border-radius: 10px;
  cursor: pointer;
}

.mailing p {
  font-size: 1.1rem;
  font-weight: 500;
  color: hsla(173, 100%, 13%, 0.9);
  text-align: center;
  /* margin-left: 50px; */
  /* margin-bottom: 50px; */
}

@media only screen and (max-width: 500px) {

  div.mailing h3 {
    font-size: 1.3rem;
  }

  div.mailing form input {
    width: 280px;
    height: 60px;
    border-radius: 10px;
  }

  div.mailing form input::placeholder {
    font-size: 0.8rem;
  }

  div.mailing form img {
    height: 35px;
    right: 20px;
    padding: 0;
  }

  div.mailing p {
    font-size: 0.7rem;
    width: 80%;
  }

  div.mailing p br {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {

  .services-text h4 {
    font-size: 1.3rem;
  }

  .services-text h2 {
    font-size: 2.3rem;
  }

  .services-text p {
    font-size: 0.9rem;
  }

  .services-img-icons div h4 {
    font-size: 1.2rem;
  }

  .tracking h4 {
    font-size: 1.3rem;
  }

  .tracking p {
    font-size: 0.9rem;
  }

  .tracking div {
    height: 350px;
  }

  .tracking div img {
    width: 48%;
  }

  .tracking div form input {
    height: 55px;
    width: 80%;
    padding-right: 110px;
  }

  .tracking div form input::placeholder {
    font-size: 0.9rem;
  }

  .tracking div form img {
    width: 80px;
    height: 35px;
    border-radius: 7px;
    /* padding: 8px; */
    right: 65px;
  }

  .reviews h4 {
    font-size: 1.4rem;
    margin-bottom: 15px;
  }

  .reviews p {
    font-size: 1rem;
  }

  .testimonials div div img {
    width: 25px;
  }

  .testimonials div p {
    font-size: 0.9rem;
    margin: 20px 10px;
  }

  .testimonials div h6 {
    font-size: 1rem;
  }

  .mailing h3 {
    font-size: 1.5rem;
  }

  .mailing form input {
    width: 500px;
    height: 60px;
    padding-right: 120px;
  }

  .mailing form input::placeholder {
    font-size: 1rem;
  }

  .mailing form img {
    width: 80px;
    height: 40px;
    right: 20px;
    padding: 10px;
  }

  .mailing p {
    font-size: 0.95rem;
  }
}

/* landing page styling ends */

/* book styling */
.booking-banner {
  width: 100%;
  height: 100dvh;
  position: relative;

  /* overflow: hidden; */
}

.booking-banner img {
  width: 100%;
  height: 100%;
  background-size: contain;
     
}

.booking-banner-text {
  position: absolute;
  top: 30%;
  left: 5%;
  color: #fff;
}

.booking-banner-text h5 {
  word-spacing: 2px;
}

button.ease-in-out {
  transition: 0.2s ease-in-out;
}

button.ease-in-out:hover {
  /* background: #2F855A; */
  background: #004039;
}

.booking-banner img:nth-of-type(2) {
  display: block;
}
.booking-banner img:nth-of-type(1) {
  display: none;
}
@media only screen and (max-width: 800px) {
  .booking-banner {
    height: 60dvh;
  }

  .booking-banner-text {
    left: 15%;
    text-align: center;
  }

  .booking-banner-text br {
    display: none;
  }

  .booking-banner-text h5 {
    word-spacing: 1px;
  }
}

@media only screen and (max-width: 500px) {
  .booking-banner img:nth-of-type(1) {
    display: none;
  }

  .boooking-banner img:nth-of-type(2) {
    display: block;
  }

  .booking-banner-text {
    left: 12.5%;
  }
}

@media only screen and (max-width: 400px) {
  .booking-banner-text {
    left: 8%;
  }
}

@media only screen and (max-width: 350px) {
  .booking-banner-text {
    left: 4%;
  }
}
.container {
  border: 1px solid #394d49;
  border-radius: 0.5rem;
  background-color: #e9faf8;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 0.5rem;
}

@media (min-width: 1024px) {
  .container {
    gap: 1rem;
  }
}

/* form styling */

.input-field {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #004039;
  background: #EFEFEF;
  border-radius: 0.5rem;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
  font-size: 0.8rem;
    font-weight: 500;
}

.input-field:focus {
  box-shadow: 0 0 0 2px #004039;
}

/* Styles for larger screens */
@media (min-width: 1024px) {
  .input-field {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

/* Styles for smaller screens*/
.input-field {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.custom-label {
  display: block;
  color: #262626;
  font-size: 0.9rem;
}

/* Styles for larger screens (lg: min-width: 1024px) */
@media (min-width: 1024px) {
  .custom-label {
    font-size: o.9rem;
    font-weight: 500;
  }
}

/* form styling ends */
/* booking page styling ends */

/* payment page styling */
.payment-banner {
  width: 100%;
  height: 90dvh;
  position: relative;
  /* overflow: hidden; */
}

.payment-banner img {
  width: 100%;
  height: 100%;
}

.payment-banner-text {
  position: absolute;
  top: 30%;
  left: 5%;
  color: #fff;
}

.payment-banner-text h5 {
  word-spacing: 2px;
}

.fill-form {
  width: 100%;
  height: 900px;
  background: #fff;
  position: relative;
}

.fill-form-container {
  width: 90%;
  position: absolute;
  top: -40px;
  left: 5%;
}

.first-forms,
.third-forms {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.first-forms form,
.third-forms form {
  width: 100%;
}

.first-forms form h6 {
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: hsla(0, 0%, 0%, 0.7);
}

.first-forms form input,
.third-forms form input,
.estimated-price form input {
  width: 98%;
  height: 40px;
  background: transparent;
  border: 1px solid #004039;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 0.8rem;
  font-weight: 500;
  outline: none;
}

.first-forms form input::placeholder,
.second-form form textarea::placeholder,
.third-forms form input::placeholder {
  font-size: 0.8rem;
  font-weight: 500;
  color: hsla(0, 0%, 0%, 0.3);
}

.first-forms form:nth-of-type(2) h6,
.third-forms form:nth-of-type(2) h6 {
  margin-left: 2%;
}

.first-forms form:nth-of-type(2) input,
.third-forms form:nth-of-type(2) input {
  float: right;
}

.second-form {
  width: 100%;
}

.second-form form h6,
.third-forms form h6,
.delivery h6,
.estimated-price form h6,
.payment-options h6 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: hsla(0, 0%, 0%, 0.7);
}

.second-form form textarea {
  width: 100%;
  height: 40px;
  border: 1px solid #004039;
  background: transparent;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 0.8rem;
  font-weight: 500;
  outline: none;
}

.delivery-service {
  display: flex;
  justify-content: space-between;
}

.delivery-service div {
  padding: 10px 20px;
  width: 28%;
  border: 1px solid #004039;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  /* justify-content: center; */
  align-items: center;
}

.delivery-service div img {
  width: 25px;
}

.delivery-service div h4 {
  font-size: 1rem;
  font-weight: 500;
  /* letter-spacing: 1px; */
  word-spacing: 3px;
  color: hsla(0, 0%, 0%, 0.9);
}

.delivery-service div h5 {
  font-size: 0.8rem;
  font-weight: 500;
  color: hsla(0, 0%, 0%, 0.7);
}

.delivery-service-chosen {
  background: transparent;
  transition: 0.2s ease-in-out;
}

.delivery-service-chosen:hover {
  background: #c6fffb;
}

.delivery-service-chosen.chosen {
  background: #baf8f4;
}

.estimated-price form {
  width: 28%;
}

.estimated-price form h6 {
  font-weight: 900;
  color: hsla(0, 0%, 0%, 0.9);
}

.payment-options h6 {
  margin-top: 35px;
}

.payment-options div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid #004039;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
  position: relative;
  cursor: pointer;
}

.payment-options div input {
  width: 20px;
  height: 20px;
  position: relative;
  accent-color: #004039;
  margin-right: 30px;
}

/* .payment-options div input::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #DCFFFC;
} */

.payment-options div section:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  width: 120px;
  position: absolute;
  right: 10px;
}

.payment-options div section:nth-of-type(2) img {
  width: 30px;
}

.payment-options div section:nth-of-type(2) img:nth-of-type(3) {
  width: 20px;
}

.payment-options div h4 {
  font-size: 0.8rem;
  font-weight: 700;
  color: hsla(0, 0%, 0%, 0.8);
}

.payment-options div section h5 {
  font-size: 0.7rem;
  font-weight: 500;
  color: hsla(0, 0%, 0%, 0.7);
}

.payment-method-picked {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 2px;
  margin-right: 15px;
}

.payment-method-picked img {
  display: none;
}

.payment-method-picked.picked img {
  display: block;
}

.submit-first {
  width: 40%;
  margin-top: 35px;
  margin-left: 30%;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  background: #2A9D90;
  font-size: 0.8rem;
  font-weight: 900;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.2s ease-in-out;;
}

.submit-first:hover {
  background: #004039;
}

.payment-banner img:nth-of-type(2) {
  display: none;
}

@media only screen and (max-width: 800px) {
  .payment-banner {
    height: 60dvh;
  }

  .payment-banner-text {
    left: 15%;
    text-align: center;
  }

  .payment-banner-text br {
    display: none;
  }

  .payment-banner-text h5 {
    word-spacing: 1px;
  }
}

@media only screen and (max-width: 500px) {
  .payment-banner img:nth-of-type(1) {
    display: none;
  }

  .payment-banner img:nth-of-type(2) {
    display: block;
  }

  .payment-banner-text {
    left: 12.5%;
  }

  .fill-form {
    height: auto;
  }

  .fill-form-container {
    position: unset;
    width: 95%;
    margin-left: 2.5%;
  }

  .first-forms {
    display: block;
    margin-bottom: 65px;
  }

  .first-forms form input,
  .estimated-price form input {
    width: 100%;
  }

  .first-forms form h6,
  .third-forms form h6,
  .estimated-price form h6 {
    margin-top: 15px;
  }

  .first-forms form:nth-of-type(2) h6 {
    margin-left: 0;
  }

  .first-forms form:nth-of-type(2) input {
    float: left;
  }

  .second-form form textarea {
    height: 120px;
  }

  .delivery-service {
    flex-direction: column;
  }

  .delivery-service div {
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }

  .estimated-price form {
    width: 100%;
  }

  .payment-options div input {
    margin-right: 15px;
  }

  .payment-options div section:nth-of-type(2) {
    width: 70px;
  }

  .payment-options div section:nth-of-type(2) img {
    width: 20px;
  }

  .payment-options div section:nth-of-type(2) img:nth-of-type(3) {
    width: 13px;
  }

  .submit-first {
    width: 100%;
    margin-left: 0;
  }

  .first-forms form h6,
  .second-form form h6,
  .third-forms form h6,
  .delivery h6,
  .estimated-price form h6,
  .payment-options h6 {
    font-size: 0.7rem;
    font-weight: 700;
  }

  .first-forms form input::placeholder,
  .second-form form textarea::placeholder,
  .third-forms form input::placeholder {
    font-size: 0.6rem;
  }

  .delivery-service div h4 {
    font-size: 0.85rem;
    font-weight: 600;
  }

  .delivery-service div h5 {
    font-size: 0.65rem;
  }

  .payment-options div h4 {
    font-size: 0.75rem;
  }

  .payment-options div section h5 {
    font-size: 0.65rem;
  }
}

@media only screen and (max-width: 400px) {
  .payment-banner-text {
    left: 8%;
  }

  .payment-method-picked {
    margin-right: 8px;
  }
}

@media only screen and (max-width: 350px) {
  .payment-banner-text {
    left: 4%;
  }

  .payment-options div input {
    margin-right: 10px;
  }

  .payment-options div section:nth-of-type(2) {
    width: 50px;
  }

  .payment-options div section:nth-of-type(2) img {
    width: 15px;
  }

  .payment-options div section:nth-of-type(2) img:nth-of-type(3) {
    width: 10px;
  }

  .payment-options div h4 {
    font-size: 0.65rem;
  }

  .payment-options div section h5 {
    font-size: 0.55rem;
  }
}

/* payment info page styling */
.payment-info-main {
  width: 100%;
  height: 100%;
  /* background: #004039; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.payment-info-container {
  width: 60%;
  max-width: 1000px;
  height: 100dvh;
  overflow: hidden;
  position: relative;
  /* max-height: 1000px; */
  /* margin-left: 20%; */
  display: flex;
  /* align-items: center;
  justify-content: center; */
  background: #FFF;
  box-shadow: 0 0 20px #2A9D90;
}

.linear-gradient-div {
  width: 400px;
  height: 120%;
  background: linear-gradient(180deg, #DCFFFC, #2A9D90, #2A9D90);
  transform: rotate(-15deg) skewY(20deg) translateY(-15%);
  transform-origin: bottom right;
  position: absolute;
  top: 5%;
  left: -120px;
}

.payment-info {
  width: 60%;
  height: 100%;
  margin-left: 40%;
  position: relative;
  /* background: #2A9D90; */
}

.payment-info .back-arrow {
  position: absolute;
  top: 30px;
  left: -60px;
  display: flex;
  gap: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.payment-info .back-arrow aside {
  font-size: 0.8rem;
  font-weight: 600;
}

.payment-info .back-arrow img {
  width: 17px;
}

.payment-info .back-arrow:hover {
  color: #004039;
}

.payment-info .back-arrow:hover aside {
  font-weight: 900;
}

.payment-info .back-arrow:hover img {
  width: 20px;
}

.payment-info h2 {
  margin-top: 15%;
  margin-bottom: 30px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #004039;
}

.payment-info form h6 {
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsla(0, 0%, 0%, 0.7);
}

.payment-info form input {
  width: 80%;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 5%;
  color: hsla(0, 0%, 0%, 0.8);
  caret-color: hsla(173, 100%, 13%, 0.5);
  border-bottom: 1.3px solid hsla(0, 0%, 0%, 0.3);
  -moz-appearance: textfield;
}

.payment-info form input:focus {
  outline: none;
  border-bottom: 2px solid hsla(173, 100%, 13%, 0.5);
}

.payment-info form input::-webkit-inner-spin-button,
.payment-info form input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.payment-info section {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.payment-info section input {
  width: 50%;
}

.payment-info form:nth-of-type(1) input {
  width: 30%;
}

.exp-date {
  display: flex;
  width: 100%;
  gap: 15px;
  /* justify-content: space-between; */
}

div.exp-date input {
  width: 100%;
}

.payment-info button {
  width: 40%;
  height: 30px;
  word-spacing: 1px;
  font-size: 0.55rem;
  font-weight: 700;
  margin-top: 10%;
  margin-left: 15%;
  color: #F2FFFE;
  background: #2A9D90;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.payment-info button:hover {
  background: #004039;
}

@media only screen and (min-width:1100px) {
  .linear-gradient-div {
    left: -90px;
  }

  .payment-info h2 {
    font-size: 1.5rem;
  }
  
  .payment-info form h6 {
    font-size: 0.7rem;
  }

  .payment-info button {
    font-size: 0.7rem;
    height: 35px;
  }
}

@media only screen and (min-width:1200px) {
  .linear-gradient-div {
    left: -40px;
  }

  .payment-info form input {
    margin-bottom: 7%;
  }

  .payment-info button {
    font-size: 0.75rem;
    height: 40px;
  }
}

@media only screen and (max-width:800px) {
  .payment-info-container {
    width: 70%;
  }

  .payment-info .back-arrow {
    top: 50px;
    left: -10px;
  }

  .linear-gradient-div {
    display: none;
  }

  .payment-info {
    width: 90%;
    margin-left: 10%;
  }

  .payment-info h2 {
    margin-top: 30%;
    font-size: 2rem;
  }

  .payment-info button {
    width: 88%;
    margin-left: 0;
    /* margin-left: 25%; */
    height: 50px;
    font-size: 1rem;
    margin-top: 20%;
  }
  
  .payment-info form h6 {
    margin-top: 20px;
    font-size: 1rem;
  }

  .payment-info form input {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width:500px) {
  .payment-info-container {
    width: 100%;
    height: 100%;
  }

  .payment-info .back-arrow {
    top: 20px;
    left: -20px;
  }

  .payment-info h2 {
    font-size: 1.5rem;
    margin-top: 25%;
  }

  .payment-info form input {
    border-radius: 5px;
    padding-left: 15px;
    height: 45px;
    width: 90%;
    border: 1.3px solid hsla(0, 0%, 0%, 0.5);
  }

  .payment-info section {
    display: block;
  }

  .payment-info form:nth-of-type(1) input {
    width: 90%;
  }

  .payment-info section form:nth-of-type(2) input {
    width: 30%;
  }

  .payment-info form input:focus {
    outline: none;
    border: 1.3px solid hsl(173, 100%, 13%);
  }

  .exp-date {
    width: 65%;
  }

  .payment-info button {
    margin-top: 15%;
    margin-bottom: 15%;
  }
}

@media only screen and (min-width:400px) and (max-width:500px) {
  .payment-info h2 {
    margin-top: 15%;
  }
}

@media only screen and (max-width:500px) and (max-height: 700px) {
  .payment-info h2 {
    margin-top: 15%;
  }
  
  .payment-info form h6 {
    margin-top: 10px;
  }

  .payment-info button {
    margin-top: 10%;
  }
}

/* Real Time Tracking Page */
.track-container {
  width: 90%;
  margin-left: 5%;
}

.track-container h2 {
  margin-top: 120px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 900;
  color: #004039;
}

.track-container h6 {
  font-size: 0.8rem;
  font-weight: 600;
  color: hsla(0, 0%, 0%, 0.7);
  margin-bottom: 20px;
}

.track-map-container {
  margin-bottom: 150px;
  width: 100%;
  height: 100%;
  position: relative;
}

.track-map {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.track-map img:nth-of-type(2) {
  display: none;
}

div.track-showing {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 40%;
  height: 75%;
  padding: 2%;
  border-radius: 10px;
  background: #DCFFFC;
  z-index: 10;
}

.track-showing h3 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 900;
  color: #004039;
  margin-top: 15px;
  margin-bottom: 5px;
}

.track-showing h5,
.track-showing h6,
.track-showing p {
  font-size: 0.9rem;
  font-weight: 600;
  color: hsla(0, 0%, 0%, 0.5);
  margin-bottom: 5px;
}

.track-showing h6 {
  text-align: center;
}

div.span-image-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 96%;
}

.span-image-horizontal img,
.package-destination img,
.last-update img {
  width: 30px;
}

.span-image-horizontal span {
  height: 1.3px;
  width: 35%;
  background: #004039;
}

.track-showing h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.package-destination {
  display: flex;
  height: 70px;
  gap: 15px;
  /* background: #004039; */
}

.package-destination h4,
.last-update h4 {
  font-size: 0.9rem;
  font-weight: 700;
  color: #004039;
}

.last-update {
  width: 100%;
  height: 35%;
  display: flex;
}

.last-update div {
  /* width: 100%; */
  height: 100%;
  /* background: #004039; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.last-update div:nth-of-type(1) {
  margin-top: 15px;
}

.last-update div:nth-of-type(2) {
  margin-left: 20px;
}

/* .last-update div:nth-of-type(2) {
  width: 100%;
  justify-content: space-between;
} */

.last-update span {
  width: 1.3px;
  height: 50%;
  background: #004039;
  /* display: block; */
  /* margin-left: 48%; */
}

section.last-update-location {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  /* gap: 50px; */
}

section.last-update-location p:nth-of-type(1) {
  float: left;
  /* background: #004039; */
  width: 230px;
}

section.last-update-location p:nth-of-type(2) {
  float: right;
  margin-bottom: 15px;
}

.track-showing button {
  position: absolute;
  bottom: 5%;
  width: 90%;
  height: 30px;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 700;
  color: #F2FFFE;
  background: #2A9D90;
  transition: 0.2s ease-in-out;
}

.track-showing button:hover {
  background: #004039;
}

@media only screen and (min-width:1100px) {

  .track-container h2 {
    font-size: 1.8rem;
  }
  
  .track-container h6 {
    font-size: 1rem;
  }

  div.track-showing {
    height: 70%;
  }

  .track-showing button {
    height: 35px;
    font-size: 0.9rem;
  }
}

@media only screen and (min-width:1200px) {

  .track-showing h3 {
    font-size: 1.2rem;
  }
  
  .track-showing h5,
  .track-showing h6,
  .track-showing p {
    font-size: 1rem;
  }

  .track-showing h5 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  section.last-update-location p:nth-of-type(1) {
    width: 290px;
  }
  
  section.last-update-location p:nth-of-type(2) {
    margin-bottom: 25px;
  }

  .track-showing button {
    height: 40px;
    font-size: 1rem;
  }
}

@media only screen and (max-width:1000px) {
  div.track-showing {
    height: 80%;
    top: 10%;
  }
  
  .track-showing h3 {
    font-size: 1.1rem;
  }
  
  .track-showing h5,
  .track-showing h6,
  .track-showing p {
    font-size: 0.8rem;
  }

  .track-showing h5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .package-destination h4,
  .last-update h4 {
    font-size: 0.8rem;
  }

  section.last-update-location p:nth-of-type(1) {
    width: 180px;
  }
  
  section.last-update-location p:nth-of-type(2) {
    margin-bottom: 15px;
  }

  .track-showing button {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width:900px) {
  .track-showing h3 {
    font-size: 1rem;
  }
  
  .track-showing h5,
  .track-showing h6,
  .track-showing p {
    font-size: 0.7rem;
  }

  .track-showing h5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  section.last-update-location p:nth-of-type(1) {
    width: 160px;
  }
  
  section.last-update-location p:nth-of-type(2) {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width:800px) {
  
  .track-showing h3 {
    font-size: 0.9rem;
  }
  
  .track-showing h5,
  .track-showing h6,
  .track-showing p {
    font-size: 0.65rem;
  }

  .track-showing h5 {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
  }

  section.last-update-location p:nth-of-type(1) {
    width: 150px;
  }
}

@media only screen and (min-width:400px) and (max-width:500px) {
  section.last-update-location p:nth-of-type(1) {
    width: 180px;
  }
}

@media only screen and (max-width:500px) {

  .track-map-container{
    margin-bottom: 50px;
  }

  .track-container h2 {
    font-size: 1.3rem;
  }
  
  .track-container h6 {
    font-size: 0.7rem;
  }

  .track-map img:nth-of-type(1) {
    display: none;
  }

  .track-map img:nth-of-type(2) {
    display: block;
    width: 100%;
  }

  .track-map {
    height: auto;
  }

  .package-destination h4 {
    margin-top: 10px;
  }
  
  section.last-update-location p:nth-of-type(2) {
    margin-bottom: 15px;
  }

  div.track-showing {
    position: relative;
    left: 10%;
    width: 80%;
    height: 500px;
    padding: 4%;
    margin-top: 50px;
  }
}

@media only screen and (max-width:350px) {
  .track-showing h3 {
    font-size: 0.7rem;
  }
  
  .track-showing h5,
  .track-showing h6,
  .track-showing p {
    font-size: 0.55rem;
  }

  .last-update div:nth-of-type(2) {
    margin-left: 10px;
  }

  .package-destination h4,
  .last-update h4 {
    font-size: 0.65rem;
  }

  section.last-update-location p:nth-of-type(1) {
    width: 120px;
  }
  
  section.last-update-location p:nth-of-type(2) {
    margin-bottom: 30px;
  }
}

/* report page styling */
.report-banner-text {
  position: relative;
 

}

.report-banner-text h5 {
  word-spacing: 2px;
}

/* report a rider page */
.what-to-report {
  margin-bottom: 100px;
}

.reporting {
  padding-bottom: 100px;
}

.line-div {
  position: relative;
}

.line-box-div {
  position: relative;
}

.line {
  width: 2px;
  height: 650px;
  background: #282828;
  position: absolute;
  top: -80px;
}

.line::before{
  content: "";
  position: absolute;
  background: #282828;
  width: 20px;
  height: 20px;
  top: 0;
  left: -10px;
}

.line::after {
  content: "";
  position: absolute;
  background: #282828;
  width: 20px;
  height: 20px;
  bottom: 0;
  left: -10px;
}

.line-box::before{
  content: "";
  position: absolute;
  background: #282828;
  width: 20px;
  height: 20px;
  top: 25%;
  left: 36.75%;
}

.line-box::after {
  content: "";
  position: absolute;
  background: #282828;
  width: 20px;
  height: 20px;
  bottom: 25%;
  left: 36.75%;
}

@media only screen and (max-width:1000px) {
  .line-box::before,
  .line-box::after {
    left: 35.7%;
  }
}

@media only screen and (max-width:900px) {
  .line-box::before,
  .line-box::after {
    left: 33.7%;
  }
}

@media only screen and (max-width:800px) {
  .line-box::before,
  .line-box::after {
    left: 35%;
  }

  .line::before,
  .line::after,
  .line-box::before,
  .line-box::after {
    width: 15px;
    height: 15px;
  }
  
  .line::before,
  .line::after {
    left: -7px;
  }

  /* .line {
    height: 550px;
  } */
}

@media only screen and (max-width: 500px) {

  .line {
    top: -85px;
    /* height: 700px; */
  }

  .line-box::before,
  .line-box::after {
    left: 39.1%;
  }

  .line::before,
  .line::after,
  .line-box::before,
  .line-box::after {
    width: 10px;
    height: 10px;
  }
  
  .line::before,
  .line::after {
    left: -4px;
  }

  .line-images {
    width: 35%;
    height: 35%;
  }
}

@media only screen and (max-width: 400px) {
  .line {
    top: -90px;
    height: 700px;
  }

  .line-box::before,
  .line-box::after {
    left: 39.2%;
  }
}

@media only screen and (max-width: 330px) {
  .line {
    top: -110px;
    height: 800px;
  }

  .line-box::before,
  .line-box::after {
    left: 40%;
  }
}

.last-image {
  display: block;
  /* Default display */
}

@media (max-width: 768px) {
  .last-image {
    display: none;
  }
}

/* fileUpload styling */
.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  /* max-width: 600px; */
  margin: auto;
  border: 2px dashed #004039;
  border-radius: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  margin-bottom: 10px;
}

.file-upload-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.file-upload-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-icon {
  width: 50px;
  /* Adjust the size as needed */
  height: 50px;
  /* Adjust the size as needed */
  margin-bottom: 10px;
}

.file-upload-text p {
  color: #004039;
  font-size: 12px;
  font-weight: medium;
}

.file-input {
  display: none;
}